
.container{
    padding-top: 50px;
    width: 90%;
}
.topnav {
    overflow: hidden;
    background-color: chartreuse;
    margin-bottom: 30px;
  }

  .bar{
    background-color: rgba(240, 140, 140, 0.527);
  }


  form{
    padding: 10px;
  }
  input{
    width: 200px;
    height: 50px;
  }
  button{
    padding: 15px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #04AA6D;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav-right {
    float: right;
  }

    /* Responsive columns */
    @media screen and (max-width: 600px) {
     
      .container{
        width: 100%;
      }
      .topnav a {
        padding: 5px;
        margin: 2px;
        font-size:large;
      }
    }