<ngx-spinner>
</ngx-spinner>
<input type="checkbox" id="check">
<input type="checkbox" id="check2">
<label class="showhide" for="check">
</label>


<!-- <div class="topnav">
  
    <a>             
        <label for="check">
        <img class="img" src="../assets/menu.png" alt="">
        </label>
      </a>
    <a class="logo" routerLink='' >
        <img src="../assets/logo.png" alt="">
    </a>
    <div class="topnav-centered">
        <form #SearchForm="ngForm" (ngSubmit)="searchProduct()" novalidate>
            <input [(ngModel)]="search" type="text" name="search" required minlength="3" placeholder="Search.."> 
            <button [disabled]="SearchForm.invalid" type="submit" >Search</button>
        </form> 
      </div>
    
    <div class="topnav-right color">
      <a *ngIf="(accountService.currentUser$ | async) === null" class="google" #loginRef>
        <strong>Login with Google</strong> </a>
        <span *ngIf="accountService.currentUser$ | async">  
        <a  routerLink='/admin' routerLinkActive='active'  class="color">Dashboard</a>  
        <a (click)="logout()" style="margin-right: 150px;" class="color">LogOut</a>  
        </span>
    </div>
    
  </div> -->
  <div (click)="alerttoggle()"  *ngIf="alert" class="backdrop"></div>
  <div *ngIf="alert" class="alert-box">
    <div class="menualert">
      <ul *ngIf="accountService.currentUser$ | async">
        <li (click)="goprofilemobile()">Profile</li>
        <li (click)="customerordersmobile()">Orders</li>
        <li (click)="goadmin()" *appHasRole='["Admin"]'>Admin</li>
        <li (click)="logout()">Logout</li>
      </ul>
    </div>
    </div>
    <div *ngIf="(accountService.currentUser$ | async) === null" class="alert-box2">
      <div class="menualert">
        <ul >
          <li (click)="loginWithGoogle()" ><strong>Login with Google</strong>
          </li>
        </ul>
      </div>
    </div>



  <div class="header">
    <div class="left">
      <label for="check">
     <img class="leftmenu" src="../assets/menu.png" alt="">
    </label>
     <img routerLink='' class="logo" src="../assets/logo.png" alt="">
     <img  *ngIf="accountService.currentUser$ | async" (click)="alerttoggle()" class="mobilemenu" src="../assets/more.png" alt="">
    </div>
    <div class="right">
        <ul>
            <li class="searchli">
                <form #SearchForm="ngForm" (ngSubmit)="searchProduct()" novalidate>
                  <span>
                    <input id="search" type="search" [(ngModel)]="search" type="text" name="search" required minlength="3" placeholder="Search.."> 
                    <button  class="searchbutton" [disabled]="SearchForm.invalid" type="submit" >Search</button>  
                  </span>
                </form>
            </li>
            <li *ngIf="accountService.currentUser$ | async" class="rightdash">
                <a class="dash" >DashBoard</a>
                <div class="dropdown-content">
                    <a routerLink='profile'>Profile</a>
                    <a (click)="customerorders()">Orders</a>
                    <a routerLink='/admin' *appHasRole='["Admin"]'>Admin</a>
                    <a (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
        
    </div>
</div>






  







  <div class="sidebar">
       <div class="item" *ngFor="let item of category" >
          <input type="checkbox" name="" id="{{item.name}}">
          <label for="{{item.name}}">
              <h3 (click)="getCatProduct(item.id)" routerLinkActive='active' >
                {{item.name}}
              </h3>
        </label>
        <ul class="subul" *ngFor="let sub of item.subDto">
          <li (click)="getsubCatProduct(sub.id)" routerLinkActive='active'>
            {{sub.name}}
          </li>
        </ul>
       </div>

</div>
















<span *ngIf="(basketService.basket$ | async) as basket"class="cart-no">          
  <label for="check2">
  <div class="cart">
      <h4>
        {{basket.items.length}} items
      </h4>
      <p>
        ৳{{(basketTotal$ | async).subtotal}}
      </p>
  </div>
  </label>
  </span>

<div class="rightbar">
  <label for="check2">
    <h2 class="close">Close</h2>
  </label> 
  
  <div class="rightmenu">
    <label for="check2">
      <img class="toggle2" src="../assets/left.png" alt="">
    </label>  
  </div>
  <div class="cartnull" *ngIf="(basket$ | async) == null">
    <h3>There are no items in your basket</h3>
 </div> 

  <span *ngIf="basket$ | async">
  <div *ngFor="let item of (basket$ | async).items" class="row">

    <div class="smcolumn" >
      <div class="unitControl">
        <span (click)="incrementItemQuantity(item)" class="control icon-plus"></span>
        <span class="control unitCount">{{item.quantity}}</span>
        <span (click)="decrementItemQuantity(item)" class="control icon-minus"></span>
      </div>
    </div>
    <div class="column" >
      <img src="{{item.pictureUrl}}"  alt=""> 
    </div>
    <div class="bigcolumn" >
      <div class="bigcontent">
      <h4>{{item.productName}}</h4>
      <p *ngIf="item.color.length > 0 " >Color: {{item.color[0].name | uppercase }}</p>
      <p *ngIf="item.size.length > 0 " >Size: {{item.size[0].name | uppercase }}</p>
      <h4>৳{{item.price}}</h4>
      </div>
    </div>
    <div class="smcolumn" >
      <div class="unitControl">
        <span (click)="removeBasketItem(item)" class="control icon-trush"></span>
      </div>
    </div>
  </div>
</span> 

<ul class="items" *ngIf="(basketTotal$ | async)">
  <h1>Order Summary</h1>
  <li class="">
      <h4 >Order subtotal: ৳{{(basketTotal$ | async).subtotal}}</h4>
  </li>
  <li >
      <h4 >Delevary Charge: ৳{{(basketTotal$ | async).delevary}}</h4>
  </li>
  <li >
      <h4 > Total: ৳{{(basketTotal$ | async).total }}</h4>
  </li>
  <label for="check2">
    <h3 class="checkout" routerLink='checkout' >Procide for CheckOut</h3>
  </label> 
</ul>
</div>








<div class="content">
  <router-outlet></router-outlet>
</div>    