<!-- {{orderCreate | json}} -->
<!-- {{OrderForm.status | json}} -->


<span *ngIf="ordersucces">
  <h4  class="spanmargin">Order Succesfully Taken </h4>
  <button (click)="vieworder()" class="orderview">View Order</button>
  <p>Your Order Status is Pending</p>
  We Process order by Five Status
  <p class="highlight2">Pending: Pending mean,s the order is still on Process</p>
  <p class="highlight2">Approved: Approved mean,s Paymens & Everting is Ok</p>
  <p class="highlight2">Delevaring: Delevaring mean,s We Delevaring the Orders</p>
  <p class="highlight2">Confirmed: Only Confirm the Order After the order Recived</p>
  <p class="highlight2">Rejected: If it is Rejected Please Contact With Us</p>
</span>

<div class="column">

    <span *ngIf="(accountService.currentUser$ | async) === null">
      <h4  class="spanmargin">Pleae Login</h4>
      CheckOut Form is Hidden by UnAuthorize User
      <p>Our Only Login option is by Gmail</p>
    </span>

    <span  *ngIf="(accountService.currentUser$ | async) && ordersucces === false">
    <form #OrderForm="ngForm"  (ngSubmit)="order()">
      <label for="fname">Name</label>
      <input  [(ngModel)]="orderCreate.name" type="text" id="fname" required minlength="3" name="firstname" placeholder="Your name..">
  
      <label for="lname">Phone Number</label>
      <input  [(ngModel)]="orderCreate.phone" type="text" id="lname" required minlength="11" maxlength="11" name="lastname" placeholder="Phone Number..">

      <label for="lname">Address</label>
      <textarea  [(ngModel)]="orderCreate.address" id="w3review" required minlength="10" name="w3review" rows="4" cols="50">
      </textarea>


      <label for="country">Districct</label>
      <select  [(ngModel)]="orderCreate.district" id="country" name="country" required>
        <option value="australia">Dhaka</option>
        <option value="canada">Gaibandha</option>
        <option value="usa">Rangpur</option>
      </select>
      <label for="upazila">Upazilla/Thana</label>
      <select  [(ngModel)]="orderCreate.upazila" id="upazila" name="upazila" required>
        <option value="australia">Palashbari</option>
        <option value="canada">Mirpur</option>
        <option value="usa">Gulustan</option>
      </select>
      
      <h1>Payment</h1>
      <div *ngIf="alert" class="alert">
        <span class="closebtn" (click)="hidealert()">&times;</span> 
        <strong >Select A Payment</strong>
      </div>
      <ul>
        <li>
          <h3 (click)="cashondelevary()" [style.background-color]="cashondelevarypay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">Cash On Delevary</h3>
        </li>
        <li (click)="bkash()" [style.background-color]="bkashpay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">
          <h3>Bkash</h3>                                                                                                        
        </li>
        <li (click)="rocket()" [style.background-color]="rocketpay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">
          <h3>Rocket</h3>
        </li>
        <li (click)="nagad()" [style.background-color]="nagadpay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">
          <h3>Nagad</h3>
        </li>
      </ul>

      <div class="payment">
      <div *ngIf="bkashpay" class="bkash">
      <h4>Bkash Personal:017*****</h4>  
      <span>[Send Money <span class="highlight">(Not Payment)</span>]</span>
      <h4 for="fname">You Have to Send ৳{{(basketTotal$ | async).total }}</h4>
      <span>Then Fill This Form With Number and Transitaion Id</span>
      <hr>
      <label for="Bkash">Bkash Number</label>
      <input  [(ngModel)]="orderCreate.bkash" type="text" id="Bkash" name="Bkash" required minlength="11"  maxlength="11"  placeholder="Bkash Number..">
      <label for="Bkasht">Bkash Transitaion ID</label>
      <input  [(ngModel)]="orderCreate.bkashTransactionID" type="text" id="Bkasht" required minlength="5" name="Bkasht" placeholder="Transition Id..">
      </div>

      <div *ngIf="rocketpay" class="bkash">
        <h4>Rocket Personal:017*****</h4>  
        <span>[Send Money<span class="highlight" >(Not Payment)</span>]</span>
        <h4 for="fname">You Have to Send ৳{{(basketTotal$ | async).total }}</h4>
        <span>Then Fill This Form With Number and Transitaion Id</span>
        <hr>
      
        <label for="Rocket">Rocket Number</label>
        <input  [(ngModel)]="orderCreate.rocket" type="text" id="Rocket" required minlength="11"  maxlength="11"  name="Rocket" placeholder="Rocket Number..">
        <label for="Rockettd">Rocket Transitaion ID</label>
        <input  [(ngModel)]="orderCreate.rocketTransactionID" type="text" id="Rockettd" required minlength="5" name="Rockettd" placeholder="Transtion Id..">
        </div>

        <div *ngIf="nagadpay" class="bkash">
          <h4>Nagad Personal:017*****</h4>  
          <span>[Send Money<span class="highlight">(Not Payment)</span>]</span>
          <h4 for="fname">You Have to Send ৳{{(basketTotal$ | async).total }}</h4>
          <span>Then Fill This Form With Number and Transitaion Id</span>
          <hr>
          <label for="Nagad">Nagad Number</label>
          <input  [(ngModel)]="orderCreate.nagad" type="text" id="Nagad" required minlength="11"  maxlength="11"  name="Nagad" placeholder="Nagad Number..">
          <label for="Nagadtd">Nagad Transitaion ID</label>
          <input  [(ngModel)]="orderCreate.nagadTransactionID" type="text" required minlength="5" id="Nagadtd" name="Nagadtd" placeholder="Transtion Id..">
          </div>

      </div>


    
      <input [disabled]="OrderForm.invalid" type="submit" value="Submit">
    </form>
  </span>
  </div>


  
  <div class="column">
    <span *ngIf="basket$ | async">
      <span *ngFor="let item of (basket$ | async).items" class="row">
        <div class="column" >
          <img src="{{item.pictureUrl}}"  alt=""> 
        </div>
        <div class="column" >
          <p>Product Name: {{item.productName}}</p>
          <p *ngIf="item.color.length > 0 " >Color: {{item.color[0].name | uppercase }}</p>
          <p *ngIf="item.size.length > 0 " >Size: {{item.size[0].name | uppercase }}</p>
          <p>Product Quantity: {{item.quantity}}</p>
          <p>Product Price: ৳{{item.price}}</p>
        </div>
        <hr>
      </span>
      <ul class="items" *ngIf="(basketTotal$ | async)">
        <h1>Order Summary</h1>
        <li class="">
            <h4 >Order subtotal: ৳{{(basketTotal$ | async).subtotal}}</h4>
        </li>
        <li >
            <h4 >Delevary Charge: ৳{{(basketTotal$ | async).delevary}}</h4>
        </li>
        <li >
            <h4 > Total: ৳{{(basketTotal$ | async).total }}</h4>
        </li>
      </ul>
    </span> 
  </div>